{% extends "_layout.html" %}

{% block container %}
    <center>
      <h1>Recetas descargadas en el servidor</h1>
      <a class="btn btn-primary di di-exit" href="{{url_for('index')}}">Salir</a>
      <a class="btn btn-primary di di-add2" href="{{url_for('Recetas.new')}}">Crear Receta</a>

      <table border class="table table-striped">
        <thead>
          <tr class="table-primary">
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Origen</th>
            <th>Acciónes</th>
          </tr>
        </thead>
        <tbody>
          {% for key in recetas %}
          <tr>
            <td><a href="{{url_for('Recetas.receta', rid = key)}}">{{recetas[key]["Nombre"]}}</a></td>
            <td>{{recetas[key]["YYYY-MM-DD"]}}</td>
            <td>
              <a href='{{recetas[key]["OrigenURL"]}}'>{{recetas[key]["Origen"]}}</a>
            </td>
            <td>
              <a href="{{url_for('Recetas.receta__del', rid = key)}}">Borrar</a>
              <a href="{{url_for('Recetas.edit', rid = key)}}">Editar</a>
              <a href="{{url_for('Recetas.receta', rid = key)}}">Abrir</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </center>
{% endblock %}