{% extends "_layout.html" %}

{% block container %}
    <center>
      <h2>Añadir receta</h2>
      <form action="{{url_for('Recetas.new')}}" method="POST">
        <fieldset style="width: calc(100% - 30px); max-width: 35rem; text-align: left;">
          <legend>Añadir receta</legend>
          <label>Nombre: <input type="text" name="nombre" required></label>
          <br />
          <label>Fecha: <input type="date" name="fecha" required></label>
          <br />
          <br />
          <textarea name="receta" id="contentMD" cols="30" rows="10"></textarea>
          <br />
          <a href="https://axis.tech.eus/naiel.fyi/mdsyntax.html" target="_blank" rel="noopener noreferrer">Manual de
            Markdown</a>
          <br />
          <input type="submit" class="btn btn-primary actbtn di di-save" value="Crear" />
          <a class="actbtn di di-exit" href="{{url_for('Recetas.index')}}">Salir</a>
        </fieldset>
      </form>
    </center>
{% endblock %}