{% extends "_layout.html" %}

{% block container %}
    <fieldset>
      <legend>{{receta["Nombre"]}} - {{receta["YYYY-MM-DD"]}}</legend>
      {{content | safe }}
    </fieldset>
    <center class="nop">
      <a class="btn btn-primary di di-exit" href="{{url_for('Recetas.index')}}">Salir</a>
      <a class="btn btn-primary di di-edit" href="{{url_for('Recetas.edit', rid=rid)}}">Editar</a>
      <a class="btn btn-primary di di-printer2" onclick="print()">Imprimir</a>
    </center>
{% endblock %}