{% extends "_layout.html" %}

{% block container %}
    <center>
      <h2>Registra a un Administrador</h2>
      <form action="{{url_for('Admin.setup__adminaccount')}}" method="POST">
        <fieldset style="width: calc(100% - 30px);max-width: 25rem;text-align: left;">
          <legend>Añadir administrador</legend>
          <label>Nombre: <input type="text" name="nombre" required></label>
          <br />
          <label>PIN: <input type="text" autocomplete="off" name="pin"></label>
          <br />
          <label>Región: <input type="text" name="region" required></label>
          <br />
          <label>Fecha de Nacimiento: <input type="date" name="fecha" required></label>
          <br />
          <br />
          <textarea name="markdown" id="contentMD" cols="30" rows="10"></textarea>
          <br />
          <a href="https://axis.tech.eus/naiel.fyi/mdsyntax.html" target="_blank" rel="noopener noreferrer">Manual de
            Markdown</a>
          <br />
          <input type="submit" class="btn btn-primary actbtn di di-save" value="Crear" />
          <a class="btn btn-primary di di-exit" href="{{url_for('Personas.index')}}">Salir</a>
        </fieldset>
      </form>
    </center>
{% endblock %}