{% extends "_layout.html" %}

{% block container %}
    <center>
      <h1>Constructor de modulos</h1>
      <a class="btn btn-primary" href="{{url_for('index')}}">Salir</a>
      <a class="btn btn-primary" href="{{url_for('Admin.filesupload', path=path)}}">Subir modulo</a>
      <a class="btn btn-primary" href="{{url_for('Admin.filesupload', path=path)}}">Crear modulo</a>
      
      <br>
      <br>
      <table border class="table table-striped">
        <thead>
          <tr class="table-primary">
            <th>Nombre</th>
            <th>Acciónes</th>
          </tr>
        </thead>
        <tbody>
          {% for mod in mods %}
          <tr>
            <td>{{mod}}</td>
            <td>
              <div class="input-group">
                <a class="btn btn-warning" href="{{url_for('Admin.builder_editor', mod = mod)}}">Editar</a>
                <a class="btn btn-danger" href="url_for('Admin.builder_delete', mod = mod)">Borrar</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </center>
{% endblock %}