{% extends "_layout.html" %}

{% block container %}
<center>
  <h2>Añadir {{CONF['singular']}}</h2>
  <form action="{{url_for(CONF['modulename'] + '.create')}}" method="POST">
    <fieldset style="width: calc(100% - 30px); max-width: 35rem; text-align: left;">
      <legend>Añadir {{CONF['singular']}}</legend>

      <table>
        {% for key in CONF['scheme'] %}
          {% if not CONF['scheme'][key].get("hiddenform", false) %}
            <tr>
              <th style="text-align: right; min-width: 125px; vertical-align: unset;">{{ CONF['scheme'][key]["label"] }}<span style="color: red;">{{ "*" if CONF['scheme'][key]["required"] == True }}</span>:</th>
              <td style="padding-left: 10px;">
                {% if CONF['scheme'][key]["type"] == "textarea" %}
                  <textarea name="{{key}}" cols="30" rows="5">{{CONF['scheme'][key]['default']}}</textarea>
                {% elif CONF['scheme'][key]["type"] == "markdown" %}
                  <textarea name="{{key}}" cols="30" rows="5" id="{{CONF['tablename'] + '-' + key}}">{{CONF['scheme'][key]['default']}}</textarea>
                  <script>
                    const easyMDE = new EasyMDE({element: document.getElementById("{{CONF['tablename'] + '-' + key}}"), forceSync: true, spellChecker: false});
                  </script>
                {% else %}
                  <input type="{{CONF['scheme'][key]['type']}}" value="{{CONF['scheme'][key]['default']}}" name="{{key}}" {{ "required" if CONF['scheme'][key]["required"] == True }}>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
      <br />
      <br />
      <button class="btn btn-primary" type="submit">Crear {{CONF['singular']}}</button>
      <a class="btn btn-primary" href="{{url_for(CONF['modulename'] + '.index')}}">Salir</a>
    </fieldset>
  </form>
</center>
{% endblock %}