{% extends "_layout.html" %}

{% block container %}
<center>
    <fieldset style="width: calc(100% - 30px); max-width: 35rem; text-align: left;">
      <legend>{{CONF['singular']}}</legend>

      <table>
        {% for key in CONF['scheme'] %}
          {% if not CONF['scheme'][key].get("hiddenform", false) %}
            <tr>
              <th style="text-align: right; min-width: 125px; vertical-align: unset;">{{ CONF['scheme'][key]["label"] }}:</th>
              <td style="padding-left: 10px;">
                
                {% if CONF['scheme'][key]["type"] == "markdown" %}
                  {{markdown(item[key]) | safe}}
                {% else %}
                  {{item[key]}}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </fieldset>
</center>
<center class="nop">
  <a class="btn btn-primary" href="{{url_for(CONF['modulename'] + '.index')}}">Salir</a>
  <a class="btn btn-primary" onclick="print()">Imprimir</a>
  <a class="btn btn-warning" href="{{url_for(CONF['modulename'] + '.update', rid = rid)}}">Editar</a>
  <a class="btn btn-danger" href="{{url_for(CONF['modulename'] + '.delete', rid = rid)}}">Borrar</a>
</center>
{% endblock %}