{% extends "_layout.html" %}

{% block container %}
    <center>
      <h2>Mover archivo</h2>
      <form method="POST">
        <fieldset style="width: calc(100% - 30px); max-width: 35rem; text-align: left;">
          <legend>Mover archivo</legend>
          <div>
            <label class="col-form-label" for="formSource">Origen</label>
            <input type="text" class="form-control" placeholder="Origen" value="{{filename}}" id="formSource" name="Origen" required>
          </div>
          <div>
            <label class="col-form-label" for="formDestino">Destino</label>
            <input type="text" class="form-control" placeholder="Destino" value="{{filename}}" id="formDestino" name="Destino" required>
          </div>
          <br>
          <input type="submit" class="btn btn-primary" value="Mover" />
          <a class="btn btn-primary di di-exit" href="{{url_for('Admin.files', path=path)}}">Salir</a>
        </fieldset>
      </form>
    </center>
{% endblock %}