{% extends "_layout.html" %}

{% block container %}
<center>
  <h2>Establecer configuración</h2>
  <form method="post">
    <fieldset style="width: calc(100% - 30px); max-width: 410px; text-align: left;">
      <summary>Variables</summary>
      <label for="receta">Receta:</label>
      <input class="form-control" type="text" id="receta" name="receta" value="{{Receta}}">
      <br>
      <label for="SC_CanClientSendComanda">Comandas publicas:</label>
      <select class="form-control" id="SC_CanClientSendComanda" name="SC_CanClientSendComanda" value="{{SC_CanClientSendComanda}}">
        <option value="Desactivar" {{"selected" if SC_CanClientSendComanda == "Desactivar"}}>Desactivar comandas externas</option>
        <option value="Activar" {{"selected" if SC_CanClientSendComanda == "Activar"}}>Activar comandas externas</option>
      </select>
      <br>
      <label for="SC_DisplayMode">Modo de pantalla:</label>
      <select class="form-control" id="SC_DisplayMode" name="SC_DisplayMode" value="{{SC_DisplayMode}}">
        <option value="cafe/display.html" {{"selected" if SC_DisplayMode == "cafe/display.html"}}>Agrupar por Aula</option>
        <option value="cafe/display-nogroup.html" {{"selected" if SC_DisplayMode == "cafe/display-nogroup.html"}}>Sin agrupar</option>
      </select>
      <br>
      <div class="input-group">
        <input type="submit" class="btn btn-primary" value="Guardar" />
        <a class="btn btn-secondary" href="{{url_for('Cafe.index')}}">Salir</a>
      </div>
    </fieldset>
  </form>
</center>
{% endblock %}