<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <!--<script crossorigin="anonymous" src="https://kit.fontawesome.com/5020e44799.js"></script>-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='icons/style.css')}}"
    />
    <title>Galileo</title>
  </head>

  <body>
    {% include 'loader.html' %}
    <header style="background-color: #000; color: #fff">
      <h3>Galileo</h3>
    </header>
    <main>
      <center>
        <h1>Bienvenidx a Galileo</h1>
        <h2>Modulos</h2>
        <a
          class="appbtn di di-calendar"
          href="{{url_for('ResumenDiario.index')}}"
        >
          <b>Resumen Diario</b>
          Documento con la información del dia.
        </a>
        <a class="appbtn di di-coffebeans" href="#">
          <b>SuperCafé</b>
          Programa para la gestión de las comandas.
          <br />
          <small><em>No Disponible</em></small>
        </a>
        <a class="appbtn di di-cook" href="{{url_for('Comedor.index')}}">
          <b>Comedor</b>
          Base de datos de los diferentes menús.
        </a>
        <a class="appbtn di dim-food" href="{{url_for('Recetas.index')}}">
          <b>Recetas</b>
          Base de datos de las diferentes recetas.
        </a>
        <br><br>
        <b><i>Versión {{VERSION}}</i></b>
      </center>
    </main>
  </body>
</html>
