<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <!--<script crossorigin="anonymous" src="https://kit.fontawesome.com/5020e44799.js"></script>-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='icons/style.css')}}"
    />
    <title>Galileo</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='vendor/simplemde.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='vendor/font-awesome.min.css')}}"
    />
  </head>

  <body>
    {% include 'loader.html' %}

    <header style="background-color: #000; color: #fff">
      <h3>Galileo - Personas</h3>
    </header>
    <main>
      <center>
        <h2>Persona: {{receta["Nombre"]}}</h2>
        <form
          action="{{url_for('Personas.edit', rid=rid)}}"
          method="POST"
          enctype="multipart/form-data"
        >
          <fieldset style="width: calc(100% - 30px);max-width: 35rem;text-align: left;float: left;">
            <legend>Añadir receta</legend>
            <label>Nombre: <input type="text" name="nombre" required value="{{receta['Nombre']}}"></label>
            <br />
            <label>PIN: <input type="text" autocomplete="off" name="pin" value="{{receta['PIN']}}"></label>
            <br />
            <label>Región: <input type="text" name="region" required value="{{receta['Region']}}"></label>
            <br />
            <label>Roles: <input type="text" name="roles" required value="{{receta['Roles']}}"></label>
            <br />
            <label>Puntos: <input type="number" name="puntos" required value="{{receta['Puntos']}}"></label>
            <br />
            <label>Fecha de Nacimiento: <input type="date" name="fecha" required value="{{receta['F-nac']}}"></label>
            <br />
            <br />
            <textarea name="markdown" id="contentMD" cols="30" rows="10">{{receta['markdown']}}</textarea>
            <br />
            <a href="https://axis.tech.eus/naiel.fyi/mdsyntax.html" target="_blank" rel="noopener noreferrer">Manual de Markdown</a>
            <br />
            <input
              type="submit"
              class="actbtn di di-save"
              value="Guardar"
            />
            <a class="actbtn di di-exit" href="{{url_for('Personas.index')}}"
              >Salir</a
            >
          </fieldset>
          <fieldset style="width: calc(100% - 30px);max-width: 15rem;text-align: left;float: left;">
              <summary>Anilla SuperCafé</summary>
              <label>Color: <input type="color" name="SC_Anilla_Color" value='{{receta["SC_Anilla"].split(";")[1]}}'></label><br>
              <label>Nombre: <input type="text" name="SC_Anilla_Nombre" value='{{receta["SC_Anilla"].split(";")[0]}}'></label>
          </fieldset>
        </form>
      </center>
    </main>
    <script src="{{url_for('static', filename='vendor/simplemde.min.js')}}"></script>
    <script>
      new SimpleMDE({
        element: document.getElementById("contentMD"),
        spellChecker: false,
        status: false,
      });
    </script>
  </body>
</html>
