{% extends "_layout.html" %}

{% block container %}
    <center>
      <h1>Listado de Personas</h1>
      <a class="btn btn-primary di di-exit" href="{{url_for('index')}}">Salir</a>
      <a class="btn btn-primary di di-add2" href="{{url_for('Personas.new')}}">Añadir Persona</a>
      <a class="btn btn-primary di di-barcode" href="{{url_for('Personas.scan')}}">Escanear Codigo</a>
      <a class="btn btn-primary di di-printer2" href="{{url_for('Personas.printcards')}}">Imprimir tarjetas</a>

      <table border class="table table-striped">
        <thead>
          <tr class="table-primary">
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Puntos</th>
            <th>Acciónes</th>
          </tr>
        </thead>
        <tbody>
          {% for key in personas %}
          <tr>
            <td data-label="Codigo">{{personas[key]["Codigo"]}}</td>
            <td data-label="Nombre"><a href="{{url_for('Personas.persona', rid = key)}}">{{personas[key]["Nombre"]}} ({{personas[key]["Region"].split(";")[0]}})</a></td>
            <td data-label="Puntos">{{personas[key]["Puntos"]}} puntos
              <br>
              <div class="input-group">
                <button class="btn btn-sm btn-success" onclick="fetch('{{url_for("Personas.pointop", val=1, rid = key)}}').then(setTimeout(() =>{location.reload()}, 70))">+1</a>
                <button class="btn btn-sm btn-danger" onclick="fetch('{{url_for("Personas.pointop", val=-1, rid = key)}}').then(setTimeout(() =>{location.reload()}, 70))">-1</a>
              </div>
            </td>
            <td data-label="Acciónes">
              <div class="input-group">
                <a class="btn btn-danger" href="{{url_for('Personas.rdel', rid = key)}}">Borrar</a>
                <a class="btn btn-warning" href="{{url_for('Personas.edit', rid = key)}}">Editar</a>
                <a class="btn btn-primary" href="{{url_for('Personas.persona', rid = key)}}">Abrir</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </center>
{% endblock %}