{% extends "_layout.html" %}

{% block container %}
    <center>
      {% if err != None %}
      <h1 style="border: 5px solid red; padding: 15px;">Error: {{err}}</h1>
      {% endif %}
      <h2>Añadir persona</h2>
      <form action="{{url_for('Personas.new')}}" method="POST">
        <fieldset style="width: calc(100% - 30px);max-width: 35rem;text-align: left;float: left;">
          <div>
            <label class="col-form-label" for="formNombre">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" id="formNombre" name="Nombre">
          </div>
          <div>
            <label class="col-form-label" for="formPIN">PIN</label>
            <input type="text" class="form-control" placeholder="PIN" id="formPIN" name="PIN">
          </div>
          <div>
            <label class="col-form-label" for="formRegion">Región</label>
            <input type="text" class="form-control" placeholder="Región" id="formRegion" name="Region">
          </div>
          <div>
            <label for="formSelect" class="form-label">Foto (subir en "uploads/personas")</label>
            <select class="form-select" id="formSelect" name="Foto">
              <option value="">Ninguno</option>
              {% for avatar in AVATARS %}
                <option>{{avatar}}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <label class="col-form-label" for="formPuntos">Puntos</label>
            <input type="number" class="form-control" placeholder="Puntos" id="formPuntos" name="Puntos">
          </div>
          <div>
            <label class="col-form-label" for="formFecha">Fecha de nacimiento</label>
            <input type="date" class="form-control" placeholder="Fecha de nacimiento" id="formFecha" name="fecha">
          </div>
          <div>
            <label class="col-form-label" for="formMarkdown">Notas</label>
            <textarea class="form-control" placeholder="..." id="formMarkdown" name="markdown"></textarea>
          </div>
          <br />
          <input type="submit" class="btn btn-primary" value="Guardar" />
          <a class="btn btn-secondary" href="{{url_for('Personas.index')}}">Salir</a>
        </fieldset>
        <fieldset style="width: calc(100% - 30px);max-width: 15rem;text-align: left;float: left;">
          <legend>Anilla SuperCafé</legend>
          <label>Color: <input type="color" name="SC_Anilla_Color" value='#ff0000'></label><br>
          <label>Nombre: <input type="text" name="SC_Anilla_Nombre" value='de color Rojo'></label>
        </fieldset>
        <fieldset style="width: calc(100% - 30px);max-width: 20rem;text-align: left;float: left;">
          <legend>Roles</legend>
          <ul>
            <li><label><input type="checkbox" style="display: inline-block;" name="roles[]" value="admin" {{"checked" if
                  err=="Configura a un Administrador" else "" }}> Administrador </label></li>
          </ul>
          <i>El resto de roles son disponibles despues de crear la persona</i>
        </fieldset>
      </form>
    </center>
{% endblock %}