<h2 class="nop">Pegatinas Identificativas</h2>
<button onclick="print()">Imprimir</button>
<br />
{% for key in recetas %}

<div
  border
  style="
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 150px;
    text-align: left;
    border: 1px solid black;
    color: black;
    margin: 15px;
    padding: 75px 0 0 0;
  "
>
  <center>
    {{recetas[key]["Nombre"]}}<br /><small
      >{{recetas[key]["Region"].split(";")[0]}}</small
    >
    <img
      src="{{ qrcode(recetas[key]['Codigo'], border=3) }}"
      width="148px"
    /><br /><small> {{recetas[key]["Codigo"]}} </small>
  </center>
</div>
{% endfor %}
